services:
  - docker

dist: bionic

language: node_js
node_js:
  - node

env:
  global:
    - GO111MODULE=on
    - secure: "S1mMpKaT+Oq33OPZVRSOR8hj3rzuPm+HY3Ef524XIYvrXI90By7ZA5i9MMUrBxXoo2YN/8+0k16Q3yBMzqMDBa1bGYPmnhEaatq/Y4FgfhQjA0e3MCp0Ak2ND3/eQ8y0X8GOzS5ZK2v0170scrIC/+jM8EUwih5zvmFLPLiD/UHNXQXIxnyDvP9ougT2CswjNJ2Q77Xd4+ga6F4sALo5yPh4bW0WGrob6v2RiCa86JA5u+VqxjqLrSrtvXNLOvxkd1WB3dxuJ+wgX3IlwFt4sionxIYoczo8pMzWlrzqPsRFqmU1+bG9M3snjPsVUPC2POUW4+9hC8ZQr8kfRuOFGbL/kq4OWUdzC7Z0wycHw2H4kzMgjT/JCA8Zk8gGcSFev0vEGQ9P0OfI3+LGQceTYdznBnsblXPmL5sB31DhZ4YZWfyJiIbpJkbcI6uWrIgSwz6DuOXEc1VmTdBe2RhTeaZgWktbKhs6hCi7egMKFVH8PszfHNuYvHxbwOxgMcRj0BAkFD7qR/lErr72bQS/cSW8X4A3+VjZfigngJcgbVLj+kWw2qV6p7NP2orGR3vV9QC52bOMvuwBWw+/iNTWl+tKJluQZuKNcDbptWC5TMznRby1h0VXaHGoogmabVgv0h3k97RvfuU987QoRTjpMd6pRPAWBxHqi7bpbZDCLyI="

jobs:
  include:
    - stage: Produce Coverage
      node_js: node
      script:
        - |
          if [ "${TRAVIS_PULL_REQUEST}" == "false"  ]; then 
#            npx nyc --reporter=lcov mocha "**/tests/*_test.js" --timeout 20000 && cat ./coverage/lcov.info | ./node_modules/coveralls/bin/coveralls.js
          else
            eval "$(ssh-agent -s)"
            openssl aes-256-cbc -K $encrypted_3682aed7d095_key -iv $encrypted_3682aed7d095_iv -in curium-test.enc -out curium-test-key -d
            chmod 600 ./curium-test-key
            ssh-add ./curium-test-key
            echo ">>INSTALLING DEPENDENCIES<<"
            curl -sS https://dl.yarnpkg.com/debian/pubkey.gpg | sudo apt-key add -
            echo "deb https://dl.yarnpkg.com/debian/ stable main" | sudo tee /etc/apt/sources.list.d/yarn.list
            sudo apt update
            sudo apt install yarn
            sudo apt-get install g++
            sudo apt-get install make
            export BLZJS_TARGET_BRANCH=${TRAVIS_PULL_REQUEST_BRANCH}
            git clone -b devel git@github.com:bluzelle/curium-test.git
            cd curium-test/integration
            yarn
            cd node_modules
            git clone -b devel https://${CLONE_TOKEN}:x-oauth-basic@github.com/bluzelle/curium-control.git
            cd ..
            yarn test-install
            echo ">>RUNNING INTEGRATION TESTS<<"
            yarn test -g 'all specifications js-client'
          fi