// fill in the fields below with your configuration information. The values below are examples and
// should be set to your own appropriate values
module.exports =
{
    address: 'bluzelle1xhz23a58mku7ch3hx8f9hrx6he6gyujq57y3kp', // insert your account address here
    mnemonic: 'volcano arrest ceiling physical concert...', // insert your account mnemonic here
    endpoint: "http://localhost:1317", // insert your rest-server address here
    chain_id: "bluzelle" // you generally do not need to change this
};
